header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  header, footer {
    background: rgb(182, 182, 241);
    color: white;
    padding: 16px;
  }
  
  main {
    background-color: #f0f331;
    padding: 16px;
    color: rgb(111, 111, 211);
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  img {
    margin: 32px;
  }
  
  .rede-social {
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 8px;
  }